.bigNFTSlider_box {
    margin: 0 auto;
    with: 80%;
    padding-block: 8rem;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}

.bigNFTSlider_box_left {
    grid-column: 1 / 7;
    grid-row: 1 / -1;
    background-color: var(--main-bg-color);
    box-shadow: var(--box-shadow-2);
    border-radius: 1rem;
    padding: 2rem;
    z-index: 1111;
    height: 90vh;
}